@font-face {
  font-family: 'AmadeusUP';
  src: url('../fonts/ofont.ru_AmadeusAP.ttf') format('opentype');
}

@font-face {
  font-family: 'Acrom Regular';
  src: url('../fonts/Acrom-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Acrom Medium';
  src: url('../fonts/Acrom-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Acrom Bold';
  src: url('../fonts/Acrom-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Acrom Normal';
  src: url('../fonts/acrom300.otf') format('opentype');
}

@font-face {
  font-family: 'Amadeus';
  src: url('../fonts/ofont.ru_AmadeusAP.ttf') format('opentype');
}
