@import '../index.scss';

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px 20px;
  color: $main-bg;

  &__text {
    flex: 1;
  }

  &__img {
    max-width: 300px;
    width: 300px;
    height: auto;
  }

  &__wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    background: $main-text;
    padding: 20px;
  }

  &__ceo {
    width: 70%;
    background: $main-bg;
    align-self: flex-end;
    color: $main-text;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;

    &-contacts {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    &-img {
      flex: 0 0 200px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-size: cover;
    }

    &-text {
      flex: 1;
    }
  }

  &__managers {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: $main-text;
      padding: 10px;
      text-align: center;

      &-contacts {
        background: $main-bg;
        color: $main-text;
        padding: 5px;
        width: 100%;

        &-item {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
        }
      }

      &-img {
        min-width: 100px;
        max-width: 200px;
        height: 100px;
        max-height: 200px;
        border-radius: 50%;
        background-size: cover;
      }
    }
  }
}
