@import '../index.scss';
@import '../styles/mixins/fonts';
@import '../styles/animations/slidein';

.about {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  color: $main-bg;

  &__text {
    padding: 30px;
    flex: 1;
    text-align: justify;

    &.bold {
      font-size: 18px;
      @include font-main-medium;
      padding: 0;
      margin-bottom: 10px;
    }
  }

  &__img {
    max-width: 400px;
    width: 400px;
    height: auto;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    background: $main-text;
    animation-duration: 1s;
    animation-name: slidein;
  }

  &__ceo {
    width: 100%;
    color: $main-bg;
    background: $main-text;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    animation-duration: 1s;
    animation-name: slidein;

    &-contacts {
      width: 100%;
      padding: 5px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      background: $main-bg;
      color: $main-text;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 30px;
      flex-wrap: wrap;
      flex: 1;
    }

    &-img {
      flex: 0 0 250px;
      width: 250px;
      height: 250px;
      background-size: cover;
    }

    &-text {
      flex: 1;
      text-align: justify;
    }
  }

  &__managers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: $main-text;
      padding: 10px;
      text-align: center;

      &-contacts {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $main-bg;
        color: $main-text;
        padding: 5px;
        width: 100%;

        &-item {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
        }
      }

      &-img {
        min-width: 100px;
        max-width: 200px;
        height: 100px;
        max-height: 200px;
        border-radius: 50%;
        background-size: cover;
      }
    }
  }

  .contacts__item {
    width: max-content;
  }
}
