@import '../styles/mixins/fonts';
@import '../index.scss';

.contacts {
  padding: 10px;
  display: flex;
  gap: 15px;

  &__block {
    &-title {
      @include font-main-regular;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
    @include font-main-normal;

    &-img {
      width: 20px;
      height: auto;
    }
  }
}
