@import '../styles/mixins/fonts';
@import '../index.scss';

.contacts {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
    @include font-main-normal;

    &-img {
      width: auto;
      height: 20px;
    }
  }
}
