@import '../index.scss';

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  margin-top: auto;
  color: $main-text;
  background: $main-bg;

  &__wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    &.text {
        font-size: 12px;
    }
  }

  &__container {
    &-info {
      font-size: 12px;
    }
  }
}
