@import '../index.scss';

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  margin-top: auto;
  color: $main-text;
  background: $main-bg;

  &__container {
    &-info {
      font-size: 12px;
    }
  }
}
