@import '../index.scss';

.header {
  height: $header-height;
  position: fixed;
  background-color: $main-bg;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $main-text;
  z-index: 10;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__logo {
    height: 140px;
    width: auto;
  }
}
