@import '../index.scss';

.header {
  display: flex;
  flex-direction: column;
  width: inherit;
  color: $main-text;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    &.with-bg {
      background-color: $main-text;
    }
  }

  &__logo {
    height: calc($header-height - 48px);
    width: auto;
  }
}
