@import '../index.scss';
@import '../styles/mixins/fonts';

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: $main-bg;

  &__item {
    padding: 10px;
    width: 100%;
    border: 1px solid $additional-text;
    color: $main-text;
    box-shadow: 5px 5px 5px 0px $additional-text;
    font-size: 24px;
    @include font-additional;

    &.active {
      background: $additional-text;
      box-shadow: 5px 5px 5px 0px $main-bg;
    }

    a {
      display: block;
      width: 100%;
    }
  }
}
