.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;

  &__item {
    border-radius: 50%;

    &:hover {
      transform: scale(1.1);
      transition: 150ms all;
    }

    &-img {
      width: 24px;
      height: 24px;
    }
  }
}
