@import './styles/mixins/fonts';

body {
  height:100%;
  margin: 0;
  @include font-main-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-image: url('assets/bg-5.png');
  background-size: contain;

  @media (max-width: 650px) {
    background-image: url('assets/bg-mob.jpg');
    background-size: auto;
  }

  @media screen and (max-device-width: 480px) {
    -webkit-text-size-adjust: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    margin: 0;
  }

  .tours-iframe {
    display: block;
    width: 100%;
    padding: 10px;
  }
}
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

$main-bg: #3f829e;
$main-text: #ffffff;
$main-text-with-opacity: rgba(255, 255, 255, 0.9);
$additional-text: #d1ae80;

$header-height: 140px;
