@import '../index.scss';
@import '../styles/mixins/fonts';
@import '../styles/animations/slidein';

.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &__item {
    position: relative;
    animation-duration: 1s;
    animation-name: slidein;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    box-shadow: 5px 5px 5px 0px $additional-text;
    padding: 20px;
    background: $main-text-with-opacity;
    color: $main-bg;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-img {
      &-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
      }

      @media (max-width: 600px) {
        max-width: 100px;
      }
    }

    &-title {
      font-size: 18px;
      @include font-main-bold;
    }

    &-text {
      font-size: 14px;
      text-align: justify;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex: 1;
    }
  }
}
