@import '../index.scss';
@import '../styles/mixins/fonts';

.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $main-text;

  &__wrapper {
    padding: 20px 5rem;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 5px 5px 5px 0px $additional-text;
    padding: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-img {
      max-width: 200px;
      height: auto;
      box-shadow: 2px 2px 6px 0px $main-bg;

      @media (max-width: 600px) {
        max-width: 100px;
      }
    }

    &-date {
      margin-left: auto;
      min-width: max-content;
      @include font-main-normal;
      font-size: 12px;
    }

    &-title {
      @include font-main-bold;
    }

    &-text {
      font-size: 14px;
      text-align: justify;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
